@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans';
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 0.25rem;
}